body {
	/*background:none repeat scroll 0 0 #DADADA; */
	background-image: url('../images/squared_metal_2X.png');
	width           : 1349px;
	margin          : auto;
	font-family     : tahoma;
	margin-top      : 8px;
	font-family     : 'OpenSanRegular';
}
.headerContainer {
	width                  : 970px;
	height                 : 115px;
	border-top-right-radius: 10px;
	border-top-left-radius : 10px;
	margin-bottom          : 4px;
	background-image       : url(../images/bg_map_grayscale.png);
	position               : relative;
}
.headerBackground {
	width                  : 970px;
	height                 : 114px;
	margin-bottom          : 5px;
	border-top-left-radius : 10px;
	border-top-right-radius: 10px;
	height                 : 115px;
	-khtml-opacity         :.5; 
	-moz-opacity           :.5; 
	-ms-filter             :"alpha(opacity=5)";
	filter                 :alpha(opacity=5);
	filter                 : progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
	opacity                :.5; 
	background-color       : #3d3d45;
	position               : absolute;
}
.imagelogo {
	margin-top : 7px;
	margin-left: 20px;
}
.divLogo {
	width   : 400px;
	position: relative;
}
.menuContainer {
	width           : 970px;
	height          : 48px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #333333;
	margin-bottom   : 5px;
	border-bottom   : 4px solid #FF5151;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


/* Font Properties */

@font-face {
	font-family: 'OpenSanRegular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans-regular-webfont.svg#webfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
  }
@font-face {
	font-family: 'OpenSanBold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-bold-webfont.woff') format('woff'),
	url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'OpenSanExtraBold';
	src: url('../fonts/opensans-extrabold-webfont.eot');
	src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
	url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
	url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
  }
	
/* Banner Properties */

.banner {
	background-color: #cccccc;
	border-radius   : 6px;
	margin-bottom   : 15px;
	padding         : 14px;
	text-align      : center;
	width           : 185px;
	height          : 250px;
	display         : inline-block;
	font-family     : "Lato",Helvetica,Arial,sans-serif;
	margin-top      : 35px;
	margin-left     : 25px;
	margin-right    : 25px
}
.bannerImage {
    height        : 111px;
    margin-top    : 5px;
    width         : 112px;
    vertical-align: bottom;
}
.banner h3{
    font-size: 20px;
    margin-top: 10px;
}
.banner p {
    font-size    : 15px;
    margin-top: -15px;
}
.bannerButton {
    border: medium none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    padding: 10px 15px;
    background-color: #FB3C3C;
    color: #ffffff;
    width: 155px;
    height: 21px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
}
.banner >a:hover {
    background-color: #646262;
    border-color    :  #646262;
}
/* Circle Banner Properties */
.ch-grid {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 120px;
    height: 120px;s
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 0px; 
    margin-top: 0px;
    margin-bottom: 0;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: default;
    box-shadow:
        inset 0 0 0 10px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.ch-img-1 {
    background-image: url(../images/calc-icon.png);
}
.ch-img-2 {
    background-image: url(../images/calendar-icon.png);
}
.ch-img-3 {
    background-image: url(../images/mag-icon.png);
}
.ch-info {
    position: absolute;
    background: rgba(226, 47, 55, 0.9);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-info h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 15px;
    margin-top: 10px;
    padding: 20px 0 0 0;
    height: 100px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin-top: 0 30px;
    font-size: 12px;
    margin-top: -65px;
    opacity: 0;
    transition: all 1s ease-in-out 0.3;
}
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 2px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-decoration: none;
}
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
.ch-item:hover {
    box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
    opacity: 1;
}
.breakines {
	width: 700px;
	border-top: 1.9px solid #D4D4D4;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 0;
}

.title { 
	font-family: 'OpenSanExtraBold';
	font-size: 18px;
	/* font-weight: bold; */
	line-height: 22px;
	color: black;
	padding: 10px;
	margin-bottom: 20px;
}