body {
	background-color: #FFFFFF;
	background-image: url(../images/backgrounds/squared_metal_2X.png);
	background-repeat: repeat; /* repeat-x */
	background-position: left top;

	font-family: 'OpenSanRegular';

	/*
	background-color: #2b1313;
	background-image: url("../images/webtreats/background_img.jpg");
	*/
}

.bor
{
 border-right:1px #CCC solid;
 border-bottom:1px #CCC solid;
}
  #list {
  list-style:none; 
  display:block; 
  width:600px; 
  height:120px;  
  padding:4px; 
  margin:2px; 
  float:left; 
  width:265px; }
  
.menu_bg {
	background-image: url(images/menu_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
}


.Alert {
	COLOR: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.greeb {
	COLOR: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.txtborder{
border:1px solid #ffffff;
border-collapse:collapse;
}


#menu {
margin : 0;
height : 32px;
padding-top : 0;
}
#menu li {
list-style : none;
display : inline;
line-height : 35px;
}
#menu li a {
text-decoration : none;
margin : 0;
padding : 9px 15px 10px 15px;
font-weight : bold;
color : #fff;
}
#menu li a:hover {
color : #fff;
background : #326F8F;
margin : 0;
}
#menu li a.current {
background : #616161 url(images/trcorner.gif) no-repeat top right;
color : #fff;
}

.FeatureBlockHeader {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #ff9900 1px solid; COLOR: #D81E28; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffe0b3
}


.FeatureBlockContent {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff9900 1px; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #ff9900 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #fffaf2
}


.paratext {
FONT-FAMILY: Arial, Helvetica, verdana;
color:#0066cc;
FONT-SIZE: 12px;
LINE-HEIGHT: 16px;
}

.Partext1 {
FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial, Helvetica, verdana
}



.headertext {
FONT-FAMILY: verdana;
font-size:15px;
color:#000000;
letter-spacing:0.1em;
}
.BlueBoxheader {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #ff9900 1px solid; COLOR: #D81E28; PADDING-TOP: 2px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Arial,Verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffe0b3
}


.GreenBox {
	BORDER-RIGHT: #8FCDEE 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #8FCDEE 1px solid; 
	PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #8FCDEE 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #8FCDEE 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #8FCDEE
}


.lightBlueborder {
	BORDER-RIGHT:#00CCFF 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #00CCFF 1px solid; 
	PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #00CCFF 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #00CCFF 1px solid; TEXT-OVERFLOW: ellipsis
}

#ads {
	position:absolute;
	left:816px;
	top:5px;
	width:153px;
	height:100%px;
	z-index:1;
	background-color:#FAFAFA;
	
}

.forminput {
	font-family: Arial, Helvetica, verdana;
	font-size: 11px;
}

.formselect {
	FONT-SIZE: 11px; 
	FONT-FAMILY: verdana
}

H3 {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 10px; COLOR: #000
}

.Text1 {
	FONT-SIZE: 12px;  FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Arial, verdana; BORDER-COLLAPSE: collapse
}


.HeadText1 {
	FONT-SIZE: 12px;  FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Arial, verdana; BORDER-COLLAPSE: collapse
}


P {
	FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 14px; FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Arial, verdana
}


#GLOBE {
MARGIN: 0px auto; WIDTH: 100%; TEXT-ALIGN: left;
}

INPUT.text-short {
	WIDTH: 175px; HEIGHT: 20px
}



A:link {
	COLOR: #FF5151; TEXT-DECORATION: none
}
A:visited {
	COLOR: #FF5151; TEXT-DECORATION: none
}
A:hover {
	COLOR: #D81E28; TEXT-DECORATION: none
}
A.mn {
	COLOR: white; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.mn:hover {
	COLOR: white; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.mn:active {
	COLOR: red; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.mn:visited {
	COLOR: white; FONT-FAMILY: verdana,arial
}
A.mns {
	COLOR: white; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}

.mediumwhiteboldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}

.subheadertxtblack {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	TEXT-TRANSFORM: none; 
	COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

.subheadertxtblack a{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	TEXT-TRANSFORM: none; 
	COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.Darkblue {
COLOR: #006FB1; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}

A.Darkblue:hover {
	COLOR:#006FB1; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.Darkblue:visited {
	COLOR: #006FB1; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}

.Lightbluedes {
COLOR:#006FB1; font-size:11px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}


A.Lightblue {
COLOR:#006FB1; font-size:12px; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none; line-height:18px; margin-left: 10px;
}

A.Lightblue:hover {
	COLOR:#006FB1; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none; margin-left: 10px;
}
A.Lightblue:visited {
	COLOR: #333333; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none; margin-left: 10px;
}


A.mns:hover {
	COLOR: white; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}

A.mns:active {
	COLOR: red; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.mns:visited {
	COLOR: white; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
A.menu:link {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
A.menu:visited {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
A.menu:hover {
	COLOR: #6699ff; TEXT-DECORATION: none
}

SELECT {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: verdana,arial
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana,arial,helvetica
}
.d_desc {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana,arial,helvetica
}
.fld1 {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f0f9ff; xborder: 1pt solid
}

.smalltextgrey {
font-family:verdana;
font-size:11px;
color:#000000;
}
.smalltextgrey a{
font-family:verdana;
font-size:11px;
color:#000000;
}

.smalltextgrey a:hover{
font-family:verdana;
font-size:11px;
color:#f00;
}

.smalltextred {
font-family:verdana;
font-size:11px;
color:#FF0000;

}

.error {
	/* font-style: italic;  */
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,verdana;
	/* font-size: 11px; */
	line-height: 14px;
	padding-left: 10px;
}

HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 0px; WIDTH: 100%; COLOR: #c3cfdb; HEIGHT: 1px; BACKGROUND-COLOR: #c3cfdb; BORDER-RIGHT-WIDTH: 0px
}


.textsmallwhite {
	font:'Times New Roman', Times, serif;color:#FFFFFF; 
}


.green-button {
	font-family: Arial,verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	background-color:#3C7999;
	border: 1px solid #3C7999;
}

.H1Text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE:13px;PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
	color:#CC3300;FONT-FAMILY: Arial, Helvetica, verdana;
}

.blackbox {
		
		border: 1px solid #EBEBEB;
		padding: 0px;
}

.greybox {
		
		border: 1px solid #EBEBEB;
		padding: 0px;
}

.line1 {
		
		
		padding: 0px;
		BORDER-BOTTOM: 1px solid #C3C3C3 ;
		
}


.big_text
{ font-size:16px; } 

.form-field {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: block;
	font-size: 14px;
	line-height: 1.42857;
	padding: 4px 10px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
}

select.form-field {
	width:278px;
	font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,verdana;
}

select.error {
	border:3px solid #FF2323;
}

#errorContainer {
	display: none;
	overflow: auto;
	background-color: #FFDDDD;
	border: 1px solid #FF2323;
	margin: 10px;
	padding: 10px;
}

#errorContainer label {
	float: none;
	width: auto;
}

input.error, textarea.error  {
	border: 1px solid #FF2323;
}

.style1 { font-size: large; }

.errorMessage {
	font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,verdana;
	font-size: 11px;
	color: #FF2323;
}

div.errorContainer {
	display: block;
	overflow: auto;
	background-color: #FFDDDD;
	border: 1px solid #FF2323;
	margin: 10px;
	padding: 10px;
}

.hawbHeader {
	font-weight: bold;
	color: #ffffff;
	background-color: #B20000;
}

.cargoHeaderBorderBottom {
	background-color: #B20000;
	color: #fff;
	font-weight: bold;
	border-bottom:1px solid #A0A0A4;
}

.addHawbItemButton {
	cursor:pointer;
	display: inline-block;
	background-color: #B20000;
	font-size: 12;
	font-weight: bold;
	color: #ffffff;
	margin-right: 10px;
	padding: 2px 2px;
}

.removeHawbItemButton {
	cursor:pointer;
	display: inline-block;
	background-color: #B20000;
	font-size: 12;
	font-weight: bold;
	color: #ffffff;
	padding: 3px 3px;
}

.linkButton {
	text-decoration: none; font: menu;
	display: inline-block; padding: 5px 15px;
	/*
	background: ButtonFace; color: ButtonText;
	border-style: solid; border-width: 2px;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	*/
	border: 2px solid #3D3D29;
	color: black;
}
.linkButton:active, .linkButton:visited, .linkButton:hover, .linkButton:link {
	background-color: #B20000;
	display: inline-block; padding: 5px 15px;
	/* 
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	border-style: solid; border-width: 2px;
	*/
	border: 2px solid #3D3D29;
	color: black;
}

.linkRedButton, .linkRedButton:active, .linkRedButton:visited, .linkRedButton:hover, .linkRedButton:link {
	cursor:pointer;
	background-color: #B20000;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	display: inline-block; 
	margin-left: 10px;
	padding: 3px 10px;
	border: 1px solid #eeeeee;
}

.linkGoldButton, .linkGoldButton:active, .linkGoldButton:visited, .linkGoldButton:hover, .linkGoldButton:link {
	cursor:pointer;
	background-color: #999966;
	font-size: 11px;
	font-weight: bold;
	color: #0F0F0A;
	text-decoration: none;
	display: inline-block; 
	margin-left: 10px;
	padding: 3px 10px;
	border: 1px solid #eeeeee;
}

.linkGoldButton:hover {
	cursor:pointer;
	background-color: #A3A375;
	font-size: 11px;
	font-weight: bold;
	color: #0F0F0A;
	text-decoration: none;
	display: inline-block; 
	margin-left: 10px;
	padding: 3px 10px;
	border: 1px solid #eeeeee;
}

.lnkButton,
.lnkButton:active,
.lnkButton:visited,
.lnkButton:hover,
.lnkButton:link {
	color: #0066FF;
}

.alternateBgColorOdd { background-color: #ffffff; }
.alternateBgColorEven { background-color: #eeeeee; }

.width250 { width:250px; }

.displayAllTableHeader {
	background-color: #D81E28; /* #565639 */ /* #6B6B47 */
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	font-weight: normal;
	color: #FFFFFF; /* #010101 */
	/* height: 35px; */
}

#tblManagerList tr td, #tblStationAdminList tr td, #tblSorterList tr td, #tblExcessBaggageList tr td,
#tblDeliveryAreasList tr td, #tblModeOfPaymentList tr td, {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
	font-weight: normal;	
	color: #010101;
	height: 30px;
}

.footer {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
	font-weight: normal;	
	color: #010101;
	text-align: center;
}

/*
.required {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	font-weight: bold;	
	color: #FF0000;
	text-align: left;
}
*/

#divStatusMessage {
	background-color: #F8C492;
	padding: 10px 20px;
	border-radius:5px;
    font-family: "OpenSanRegular";
    font-weight: bold;
    font-size: 14px;
	color: #D81E28;
	padding: 15px;
}

.dataNotFound {
	font-family: "OpenSanRegular";
	font-size: 14px;
	font-weight: bold;
	color: #B20000;
	text-align: center;
	padding: 5px 20px;
}

.small { font-size: 10px; }

.dropShadow { box-shadow: 3px 3px 3px #888888; }

#menuCKNavigation { box-shadow: 1px 13px 8px #888888; }

#errorMsgContainer {
	display: block;
	overflow: auto;
	background-color: #FFDDDD;
	border: 1px solid #FF2323;
	padding: 10px;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,verdana;
	line-height: 14px;
}

p.header { font-size: 14px; font-weight: bold; }

.searchHawbContainer { margin: 5px 25px; padding: 10px; }

td.dashedTop {
	/* padding: 5px 0px;
	margin: 5px 0px; */
	border-top: 1px dashed #eeeeee;
}

td.dashedBottom {
	/* padding: 5px 0px;
	margin: 5px 0px; */
	border-bottom: 1px dashed #eeeeee;
}

.textShadow { 
	font-family: "Trebuchet MS",Trebuchet,Verdana,Arial,verdana;
	font-size: 14px;
	font-weight: bold;
	color: #00143D;
	text-shadow: 2px 2px #cccccc;
}

.glow {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.totalsHeader {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-right: 15px;
}

.totalsData {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	display: inline-block;
}

.totalTopRow {
	padding: 5px 10px;
}

.totalRows {
	border-top: 1px dashed #eeeeee;
	padding: 5px 10px;
}

.GrandTotalHeader {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.GrandTotalData {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.GrandTotalRows {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;	
	padding: 10px;
	background-color: #EBEBE0;
}

.verticalAlignedElement {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.opaque {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	/* width: 100%; */
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=70);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.7;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.7;
}

/* START: Flat UI */
/*
  @font-face {
    font-family: 'LoveloBlack';
    src: url('../fonts/Lovelo Black.otf');
  }

  @font-face {
    font-family: 'LoveloLineBold';
    src: url('../fonts/Lovelo Line Bold.otf');
  }

  @font-face {
    font-family: 'LoveloLineLight';
    src: url('../fonts/Lovelo Line Light.otf');
  }
*/

  @font-face {
    font-family: 'OpenSanRegular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSanBold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSanExtraBold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/*
  @font-face {
    font-family: 'OpenSanBold';
    src: url('../fonts/OpenSans-Bold.ttf');
  }

  @font-face {
    font-family: 'OpenSanExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
  }

  @font-face {
  	font-family: 'Telegrafico';
  	src: url('../fonts/telegrafico.ttf');
  }

  @font-face {
  	font-family: 'ExoRegular';
  	src: url('../fonts/Exo-Regular.otf');
  }
*/
  .containers {
    width: 970px;
    /* background-color: #ffffff; */
    background: rgba(255, 255, 255, 0.4);
    /* padding: 5px; */
    margin-top: 4px;
  }

  .container {
    width: 970px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  }

  .menuContainers {
    width: 970px;
    background-color: #ffffff;
    margin-top: 5px;
  }

  .headerContainers {
    width: 970px;
    background-color: #3D3D45;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    /* border-top: 5px solid #FF5151; */
  }

	.hContainer {
	    position: relative;
	    width:100%;
	}
	.hLogoContainer {
	    position: relative;  
	    width:100%;  
	}
	.companyLogo {
		padding: 2px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 10px;
	}
	.headerBackgroundImage {
		background-image: url(../images/bg_map_grayscale.png);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

	    position:absolute;  
	    top:0; /* Add a top and bottom position so the element */  
	    bottom:0; /* stretches to the height of the parent */  
	    left:0;  
	    width:100%;  
	    height: 115px;

	    opacity: 0.5;  
	    -moz-opacity: 0.5;  
	    filter:alpha(opacity=50); 
	}

  .header {
    border-bottom: 5px solid #FF5151;
  }

  .title { 
    font-family: 'OpenSanExtraBold';
    font-size: 18px;
    /* font-weight: bold; */
    line-height: 22px;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
  }

  .contents {
    font-family: 'OpenSanBold';
    font-size: 14px;
  }

  .menu {
    background: none repeat scroll 0 0 #333333;
    font-family: "OpenSanRegular";
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0px 10px;
  }

  .footerContainer {
    width: 970px;
	border-top: 5px solid #FF5151;
	background-color: #3D3D45;
	font-family: 'OpenSanRegular';
	font-size: 12px;
	color: #ffffff;
	height: 50px;
  }

  .footerTemplate {
    font-family: 'OpenSanRegular';
    font-size: 12px;
    color: #ffffff;
    padding-top: 15px;
    text-align: center; width: 960px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    position: absolute;
  }

  .poweredByLogo { 
  	width: 115px;
  	height: 35px;
  	padding-top: 8px;
  	margin-right: 5px;
  }

  .flatIcon {
  	height: 16px;
  	width: 16px;
  }

  img.imageButtonFlat {
  	height: 16px;
  	width: 16px;
  	padding: 5px;
  	border: 3px solid #cccccc;
  	background-color: #ffffff;
  	border-radius: 5px;
  }

  img.imageButtonFlat:hover {
  	border: 3px solid #cccccc;
  	background-color: #eeeeee;
  }

  img.imageButtonFlatDisabled {
  	height: 16px;
  	width: 16px;
  	padding: 5px;
  	border: 3px solid #cccccc;
  	background-color: #cccccc;
  	border-radius: 5px;
	opacity: 0.5;  
	-moz-opacity: 0.5;  
	filter:alpha(opacity=50); 
  }

  .flatButton {
    font-family: 'OpenSanBold';
    font-size: 14px;
    background-color: #e74c3c;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
  }

  a.flatButton:Link, a.flatButton:Visited, a.flatButton:Active { color: #ffffff; }
  a.flatButton:Hover { color: #ffffff; background-color: #D81E28; }

  .controlButton {
    margin-top: 20px;
    margin-bottom: 40px;
    float: right;
  }

  .tableHeader {
    background-color: #D81E28; /* #565639 */ /* #6B6B47 */
    font-family: "OpenSanRegular";
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF; /* #010101 */
  }

  .data {
    font-family: "OpenSanRegular";
    font-size: 14px;
    font-weight: normal;
  }
  .dataRegular {
    font-family: "OpenSanRegular";
    font-size: 12px;
    font-weight: normal;
  }
  .dataSmall {
    font-family: "OpenSanRegular";
    font-size: 11px;
    font-weight: normal;
  }

  .clear { clear: both; }

  .welcome {
  	display: block;
  	width: auto;
  	vertical-align: middle;
  }

  span.logout {
	font-family: "OpenSanRegular";
	font-size: 12px;
	font-weight: bold;
	color: #cbcbcb;
	text-decoration: none;
	margin-left: 10px;
	line-height: 48px;
  }

  a.logoutLink:Active, a.logoutLink:Link, a.logoutLink:Visited { color: #cbcbcb; }
  a.logoutLink:Hover { color: #FF5151; }

  .oddRow { background-color: #FFFFFF; }
  .evenRow { background-color: #F8C492; }
/* END: Flat UI */

::-webkit-input-placeholder {
   font-family: "OpenSanRegular";
   font-weight: bold;
   font-size: 12px;
   color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "OpenSanRegular";
   font-weight: bold;
   font-size: 12px;
   color: #ffffff;
}

#txtSearchCargo::-moz-placeholder {  /* Firefox 19+ */
   font-family: "OpenSanRegular";
   font-weight: bold;
   font-size: 12px;
   color: #ffffff;
}

:-ms-input-placeholder {  
   font-family: "OpenSanRegular";
   font-weight: bold;
   font-size: 12px;
   color: #ffffff;
}

.button {
  border: none;
  display: block;
  background: #D81E28;
  font-family: 'OpenSanBold';
  font-size: 14px;
  color: #ffffff;
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
  /*box-shadow: 0px 3px 1px #2075aa;*/
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;

  cursor: pointer;
}
.button:hover { background: #e74c3c; }

input[type=text].error, input[type=password].error, textarea.error {
	border: 3px solid #ff2323;
}

#div_status {
	overflow: hidden;
	background-color: #F8C492;
	width: 600px;
	padding: 15px;
	margin-bottom: 10px;
	border-radius:5px;
	color: #D81E28;
}
#div_status.error, #divStatusMessage.error { background-color: #FF8080; color: #D81E28; }
#div_status.success, #divStatusMessage.success { background-color: #69C3A0; color: #ffffff; }
#div_status li label.error {
	font-family: 'OpenSanBold';
	font-size: 14px;
	color: #D81E28;
	/* color: #ff2323; */
}

/* START: Edit Profile page */
.contentContainer {
width: 650px;
padding: 10px;
margin-right: auto;
margin-left: auto;
}

.profileContainer{
background-color: #eeeeee;
color: #000000;
padding: 15px;
border-radius:5px;

width: 600px;
height: 375;
margin-left: auto;
margin-right: auto;
}

.profileLabel {
font-family: "OpenSanRegular";
font-size: 14px;
font-weight: bold;
color: #131426;
width: 200px;
height: 15px;
display: inline-block;
vertical-align: top;
text-align: left;
}

.profileField {
font-family: "OpenSanRegular";
font-size: 12px;
font-weight: bold;
color: #1B1B1B;
width: 300px;
height: 15px;
display: inline-block;
text-align: left;
padding: 5px 10px;
border: 2px solid #c4c4c4;
border-radius:5px;
}

.profileAddress {
font-family: "OpenSanRegular";
font-size: 12px;
font-weight: bold;
color: #1B1B1B;
width: 300px;
text-align: left;
padding: 5px 10px;
border: 2px solid #c4c4c4;
border-radius:5px;
resize: none;
}

.formContainer{
background-color: #F2F2F2;
color: #000000;
padding: 20px 30px;
border-radius:5px;

width: 600px;
height: 375;
margin-left: auto;
margin-right: auto;
}

.fieldLabel {
font-family: "OpenSanRegular";
font-size: 14px;
font-weight: bold;
color: #131426;
width: 150px;
/* height: 15px; */
display: inline-block;
vertical-align: middle;
text-align: left;
}

.postLabel {
font-family: "OpenSanRegular";
font-size: 14px;
font-weight: bold;
color: #131426;
width: 150px;
/* height: 15px; */
display: inline-block;
vertical-align: middle;
text-align: left;
margin-left: 15px;
}

.smallTextField {
font-family: "OpenSanRegular";
font-size: 12px;
font-weight: bold;
color: #1B1B1B;
width: 110px;
/* height: 15px; */
display: inline-block;
text-align: left;
padding: 5px 10px;
border: 3px solid #131426;
border-radius:5px;
}

.dropboxField {
font-family: "OpenSanRegular";
font-size: 12px;
font-weight: bold;
color: #1B1B1B;
/* width: 110px; */
/* height: 15px; */
display: inline-block;
text-align: left;
padding: 5px 10px;
border: 3px solid #131426;
border-radius:5px;
}

.required {
	font-family: "OpenSanRegular";
	font-size: 18px;
	font-weight: bold;
	color: #D81E28;
	width: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	/* content: "*"; */
}

.not-required {
	font-family: "OpenSanRegular";
	font-size: 18px;
	font-weight: bold;
	width: 15px;
	margin-right: 15px;
	display: inline-block;
}

.userAccessContainer {
background-color: #eeeeee;
color: #000000;
padding: 15px;
border-radius:5px;

width: 600px;
/* height: 140px; */
margin-left: auto;
margin-right: auto;
margin-top: 30px;
}

.userAccessLabel {
font-family: "OpenSanRegular";
font-size: 14px;
font-weight: bold;
color: #131426;
width: 200px;
height: 15px;
margin-left: 35px;
display: inline-block;
vertical-align: top;
text-align: left;
}

.passwordField {
font-family: "OpenSanRegular";
font-size: 12px;
font-weight: bold;
color: #1B1B1B;
width: 200px;
height: 15px;
display: inline-block;
text-align: left;
padding: 5px 10px;
border: 3px solid #131426;
border-radius:5px;
}

.displayOnly {
background-color: #eeeeee;
}
/* END: Edit Profile page */

.smallTextField::-webkit-input-placeholder {
   color: black;
}

.smallTextField:-moz-placeholder { /* Firefox 18- */
   color: black;
}

.smallTextField::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

.smallTextField:-ms-input-placeholder {  
   color: black;  
}

div.formContainer > p {
	text-align: left;
}